@media screen and (max-width: 1100px) {
	
	body {
		display: grid;
		grid-template-rows: 10% 90%;
		grid-template-columns: 100%;
		grid-template-areas: "head"
							 "listaverkin";
	}
	header {
		grid-area: head;
		margin: auto;
		width: 100%;
	}
	table {
		grid-area: listaverkin;
	}
	
	header #name, header #menu-main-menu {
		position: relative;
		margin: auto;
	}
	table img {
		height: auto;
		width: 100%;
	}
	.front_pic_text {
		display: none;
	}
	.sub-menu {
		display: none !important;
	}
	.containers {
		width: 85%;
		margin-top: 20%;
	}
	.the_cv_container {
		margin-left: 5%;
	}
	.the_exhibition_container {
		width: 95%;
		margin-top: 15%;
	}
	
}

@media screen and (max-width: 800px) {
	
	table {
		width: 100% !important;
		margin-top: 20% !important;
	}
	.containers {
		margin-top: 25% !important;
	}
	.the_exhibition_container {
		margin-top: 25% !important;
	}
	
}